.main {
    max-width: 350px;
    margin: 20px auto;
}

span.complete {
    text-decoration: line-through;
}
span.delete-button {
    background-color: red;
    color: white;
    padding: 3px;
    float: right;
}
span.modify-button {
    background-color: blue;
    color: white;
    padding: 3px;
    float: right;
}
span.delete-button:hover {
    cursor: pointer;
}
span.modify-button:hover {
    cursor: pointer;
}

#text {
  width: 300px;
}

html{
  background-color: #ffe0b2;
}
